<div class="project <%= @project.html_class -%> edit">
  <h1>Edit project</h1>
  <%= form_for @project do |f| -%>
    <%= f.label :name, 'Name' -%> <%= f.text_field :name %>
    <%= f.submit 'Save' %>
  <% end -%>
</div>
